/*Estilizando imagem central da tela de Inicio*/

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-nav {
    font-size: 17px !important;
    color: white;
    margin-left: 30px;
}

 :root {
    --primary: rgba(241, 170, 38, 0.65);
    --secondary: rgba(63, 210, 223, 0.65);
}

.container-fluid img {
    width: 120px;
}


/*=========HOME============*/

.home {
    padding: 3.5rem 0 2rem;
}

.home_container {
    position: relative;
    row-gap: 2rem;
}

.home_img {
    width: 450px;
    justify-self: center;
}

.home_title {
    line-height: 140%;
    margin-bottom: 25px;
}

.home_description {
    margin-bottom: 35px;
    font-size: 18px;
    text-align: justify;
}

.home_social {
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
}

.home_social-follow {
    font-weight: 500;
    font-size: 15px;
    color: #185B61;
    position: relative;
    transform: rotate(90deg);
}

.home_social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: #185B61;
    right: -45%;
    top: 50%;
}

.home_social-links {
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home_social-link {
    font-size: 1.4rem;
    color: #185B61;
    transition: .3s;
}

.home_social-link:hover {
    transform: translateX(.25rem);
    color: #49c5cc;
}


/*=============BUTTONS===============*/

.btn-outline-info {
    margin-left: 225px;
}

.button {
    display: inline-block;
    background-color: #185B61;
    color: white;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.button:hover {
    background-color: #49c5cc;
    color: white;
}

.button_icon {
    transition: .3s;
}

.button:hover .button_icon {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}


/*=================== ABOUT =================*/

.about {
    margin-top: 100px;
    margin-bottom: 100px;
}


/*Estilizando o Footer*/

footer {
    background-color: #185B61;
    padding: 50px 0;
    margin-top: 50px;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.column-footer {
    width: 25%;
    padding: 0 15px
}

.column-footer h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.column-footer ul {
    list-style: none;
}

.column-footer ul li {
    margin: 10px 0px;
    color: white;
}

.column-footer ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
}

.column-footer ul li a:hover {
    padding-left: 10px;
    color: orange;
}

.column-footer .social-media {
    margin-top: 30px;
}

.column-footer .social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
}

.column-footer .social-media a i {
    font-size: 20px;
}

.column-footer .social-media a:hover {
    color: #185B61;
    background-color: white;
}

.column-footer .form input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.column-footer .form input::placeholder {
    color: white;
}

.column-footer .form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #185B61;
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .home_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .home {
        padding: 8rem 0 5rem;
    }
    .home_container {
        align-items: center;
    }
    .home_img {
        width: 500px;
        order: 1;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .section {
        padding: 8rem 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .nav-link.link {
        margin-left: 150px;
    }
    .nav-link {
        color: white;
        font-size: 17px;
    }
}

@media screen and (min-width: 1800px) {
    .navbar {
        align-items: center;
        justify-content: center;
    }
    .nav-link.link {
        margin-left: 290px;
    }
    .nav-link .link a img {
        margin-left: 200px;
    }
    .nav-link {
        color: white;
        font-size: 17px;
    }
    .link-nav {
        margin-left: 35px;
    }
    .btn-info {
        margin-left: 15px;
    }
}