#{extends 'main.html' /} #{set title:'IF Meetings' /}

<!-- Parte Inicial com Apresentação do Projeto-->
<div class="texto" style="font-size: 18px; text-align: justify; margin-top: 30px;">
    <img src="@{'/public/images/imagem-intro.png'}" style="float:right; width: 220px; margin-left: 15px;">
    <span style="color: orange; font-weight: 600; font-family: Comic Sans MS, Comic Sans, cursive;">IF Meetings</span><br>

    <p>Projeto de Extensão do instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN), no qual vem ofertando a quase 2 anos cursos online de lingua Inglesa totalmente gratuitos para toda a comunidade brasileira. Atualmente, o projeto
        possui três modalidades de cursos para todo o público: o beginner, o elementary e o convesation. Sendo cursos administrados pelo o coordenador do projeto com auxilio de outros 3 professores da instituição, além do suporte técnico de três bolsistas
        voluntarios.
    </p>

    <p>Segundo dados do Consulado Britânico em 2015, pesquisas apontaram que apenas 5% da população brasileira é fluente em inglês. Além disso, dados apontaram que há três barreiras principais que impedem os brasileiros de aprender esse idioma: a falta de
        ofertas públicas, os custos provinentes dos cursos pagos, a locomação e disponibilidade de tempo dos estudantes até o local de ensino. Portanto, o projeto foi desenvolvido como agente inovador para contribuir na solução dessa problemática através
        de cursos ofertados por uma instituição pública de ensino e no formato remoto.</p>

    <p>No mundo atual, ao aprender esse idioma você abrenge a suas oportunidades a nível internacional além de se destacar profissionalmente em uma oportunidade de emprego, por exemplo. Quer aprender inglês de forma totalmente gratuita, com professores qualificados
        e ainda ganhar um certificado do IFRN? Clica no botão abaixo e saiba mais.</p>

    <a class="btn" href="https://www.instagram.com/ifrn_meetings/" role="button" style="background-color: orange; color: white;"> Saiba Mais </a>

</div>


<!-- Codigos dos Cards dos Cursos-->
<div class="row row-cols-1 row-cols-md-3 g-4" style="justify-content: center; margin-top: 10px;">
    <div class="col" style="width: 280px; margin-right: 80px;">
        <div class="card h-100">
            <img src="@{'/public/images/beginner.png'}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso para Iniciantes</h5>
                <p class="card-text">O nível iniciante é voltado para pessoas que querem iniciar os estudos na língua Inglesa ou que iniciaram mas não conseguiram terminar o curso iniciante em módulos anteriores.</p>
                <button type="button" class="btn btn-info btn-sm">Inscrever-se</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 280px; margin-left: 40px; margin-right: 40px;">
        <div class="card h-100">
            <img src="@{'/public/images/elementary.png'}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso para Intermediários</h5>
                <p class="card-text">O nível elementar é voltado para pessoas que terminaram o curso iniciante do IF Meetings ou têm condições de começar um curso 100% em inglês.</p>
                <button type="button" class="btn btn-info btn-sm">Inscrever-se</button>
            </div>
        </div>
    </div>
    <div class="col" style="width: 280px; margin-left: 80px;">
        <div class="card h-100">
            <img src="@{'/public/images/conversation.png'}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Conversações em inglês</h5>
                <p class="card-text">O nível avançado é voltado para pessoas que estudam inglês a algum tempo e têm interesse em melhorar sua oralidade.</p>
                <button type="button" class="btn btn-info btn-sm">Inscrever-se</button>
            </div>
        </div>
    </div>
</div>